<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="estrada.leon.rafael.readwatch">

    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@drawable/logo8"
        android:label="Read and Watch"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">
        <activity android:name=".MainVideos"></activity>
        <activity android:name=".DialogModificarEliminarAdm" />
        <activity android:name=".administrador.adapter.TemasAdapterAdm" />
        <activity android:name=".MainFileManager" />
        <activity android:name=".estudiante.fragment.MainComentario" />
        <activity android:name=".Notificaciones" />
        <activity android:name=".NotificacionPropuestaAceptada" />
        <activity android:name=".correoElectronico.MainCorreo" />
        <activity android:name=".NotificacionPublicacionEliminada" />
        <activity android:name=".BtnOpciones" />
        <activity
            android:name=".administrador.menu.MenuAdministrador"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_menu_administrador"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".BotonIngresarPropuesta" />
        <activity android:name=".administrador.fragment.MainComentarios" />
        <activity android:name=".VentanaEmergenteDeSeleccionDeVistaDePropuestasUsuarioEstudiante" />
        <activity android:name=".BotonPreguntaTemaLibre" />
        <activity
            android:name=".estudiante.menu.MenuEstudiante"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_menu_estudiante"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".estudiante.activity.RegistrarEstudiante" />
        <activity android:name=".general.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".general.firebase.MiFirebaseInstanceIdService">
            <intent-filter >
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <service android:name=".general.firebase.MiFirebaseMessagingService">
            <intent-filter >
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
    </application>

</manifest>