<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="estrada.leon.rafael.readwatch">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Read and Watch"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".BotonAgregarVideo"></activity>
        <activity
            android:name=".MenuEstudiante"
            android:label="@string/title_activity_menu_estudiante"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Recuadro_subir_documento" />
        <activity android:name=".Reportar" />
        <activity android:name=".registrar_usuario_estudiantes" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>